:root {
    --clr-primary-700: hsl(217, 35%, 20%);
    --clr-primary-400: hsl(201, 47%, 20%);
    --clr-primary-300: hsl(181, 100%, 20%);
    --clr-neutral-400: hsla(266, 33%, 20%, 0.9);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-regular: 'Inter', sans-serif;
    --ff-accent: 'Saira', serif;
    
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
    CSS Reset by Josh Comeau
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  /* App styling */
  body {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-family: var(--ff-regular);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  main {
    width: 95%;
  }

  .game-card {
    background-color: var(--clr-primary-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 1.2rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .card__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-family: var(--ff-accent);
  }

  .round-winner {
    margin-top: 0.5rem;
    font-weight: var(--fw-bold);
  }

  .scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
  }

  .score-container {
    text-align: center;
  }

  .selection-container {
    background-color: var(--clr-primary-400);
    text-align: center;
    font-weight: var(--fw-bold);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }

  .selection {
    font-size: 2.5rem;
  }

  .versus {
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
  }

  .buttons {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .button {
    cursor: pointer;
    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    transition: all 0.1s;
  }

  .button:hover {
    background-color: var(--clr-primary-300);
  }

  .button:active {
    transform: scale(1.05);
  }

  .attribution {
    text-align: center;
    transition: all 0.2s ease;
  }

  .attribution a {
    text-decoration: none;
    color: gold;
  }

  @media (min-width: 600px) {
    main {
      max-width: 570px;
    }

    .card__title {
      font-size: 2.5rem;
    }

    .scoreboard {
      width: 70%;
    }

    .selection {
      font-size: 4rem;
    }

    .buttons {
      width: 70%;
    }

    .button {
      font-size: 3rem;
    }
  }